---
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import ImageCard from "../../../components/missions/ImageCard.astro";

export async function getStaticPaths() {
    const articles = await getCollection("articles");

    return articles.map((article) => ({
        params: { category: article.data.category.id, article: article.slug },
        props: { article }
    }));
};

const { article } = Astro.props;
const { data, slug } = article;
const { title, images } = data;

const { Content } = await render(article);
---

<Layout title={title}>
    <main class="flex flex-col items-center mt-6">
        <article class="max-w-5xl py-2 flex flex-col gap-4">
            <h2 class="text-3xl font-bold text-center">{title}</h2>
            <div class="content">
                <Content />
            </div>
            {
                images && (
                    <div class="mt-auto grid grid-cols-1 md:grid-cols-2 gap-2">
                    {
                        images.map((image) => {
                            return (
                                <ImageCard image={image} width={500}/>
                            )
                        })
                    }
                    </div>
                )
            }
        </article>       
    </main>
</Layout>