---
import SuccessIcon from "../../../assets/icons/check.svg";
---

<dialog class="m-auto bg-white text-black shadow-lg shadow-gray-400 border-2 border-gray-400 rounded-lg" id="success-popup">
    <div class="flex flex-col justify-between items-center gap-2 px-12 py-8">
        <SuccessIcon class="text-green-400"/>
        <h3 class="text-lg text-center font-semibold" id="success-title">Acción realizada con éxito</h3>
        <p class="text-center" id="success-message"></p>
        <button class="bg-green-400 hover:bg-green-600 text-white px-4 py-2 mt-4 rounded-sm hover:cursor-pointer" id="success-accept-btn">Aceptar</button>
    </div>
</dialog>

<script>
    import setupPopupClosing from "../../../scripts/admin/popups/setupPopupClosing";

    setupPopupClosing("success-popup", "success-accept-btn");
</script>