---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const categories = await getCollection("categories");
---

<Layout title="Artículos">
    <h1 class="main-heading">Artículos</h1>
    <section class="pb-4">
        <h2 class="section-title mb-4">Categorías</h2>
        <ul class="grid grid-cols-1 md:grid-cols-4 gap-8">
        {
            categories.map((category) => {
                const { data, slug } = category;
                const { title } = data;
                return (
                    <li class="bg-gray-800 text-center px-12 py-2 rounded-sm transition-colors duration-200 hover:bg-gray-600">
                        <a href={`/articulos/${slug}`}>{title}</a>
                    </li>
                )
            })
        }
        </ul>
    </section>
</Layout>