---
export const prerender = false;
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/forms.css";
---

<Layout title="Registrar Usuario">
    <section class="flex flex-col items-center">
        <h1 id="form-title">Registrar Usuario</h1>
        <form action="" method="POST" class="form" id="register-form">
            <div class="form-field">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-field">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-field">
                <label for="role">Rol:</label>
                <select name="role" id="role" required>
                    <option value="editor" selected>Editor</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="form-field items-center">
                <input type="submit" value="Crear Usuario" id="submit">
                <span id="error-message"></span>
            </div>
        </form>
    </section>
</Layout>

<script>
    import { register } from "../../../api/UsersRequests";
    import type { Role } from "../../../types/users.types";

    const registerForm = document.querySelector("#register-form") as HTMLFormElement;

    registerForm.addEventListener('submit', async function(event) {
        event.preventDefault();
        
        const usernameInput = document.querySelector("#username") as HTMLInputElement;
        const emailInput = document.querySelector("#email") as HTMLInputElement;
        const passwordInput = document.querySelector("#password") as HTMLInputElement;
        const roleSelect = document.querySelector("#role") as HTMLSelectElement;
        const messageElement = document.querySelector('#error-message') as HTMLSpanElement;

        const response = await register({username: usernameInput.value, email: emailInput.value, password: passwordInput.value, role: roleSelect.value as Role});

        if (response.ok) {
            messageElement.classList.remove('error-message');
            messageElement.classList.add('success-message');
            messageElement.innerHTML = "Usuario " + response.data.username + " registrado con éxito.";
        }
        else {
            messageElement.classList.remove('success-message');
            messageElement.classList.add('error-message');
            messageElement.innerHTML = "Error al registrar el usuario. Error: " + response.message;
        }
    });
</script>