---
import Layout from "../layouts/Layout.astro";
import '../styles/solar-system.css';
import { getCollection } from "astro:content";
import CelestialBodyCard from "../components/solar-system/CelestialBodyCard.astro";
import SidebarContent from "../components/solar-system/SidebarContent.astro";
import ImageNavLink from "../components/solar-system/ImageNavLink.astro";

const celestialBodies = await getCollection("celestial-bodies");

const bodiesWithoutMoons = celestialBodies.filter((celestialBody) => celestialBody.data.type !== "satélite");
const bodiesSorted = bodiesWithoutMoons.sort((a, b) => a.data.order - b.data.order); //Orden ascendente
const bodiesInSidebar = bodiesSorted.filter((celestialBody) => celestialBody.data.type !== "planeta enano");
const dwarfPlanets = bodiesSorted.filter((celestialBody) => celestialBody.data.type === "planeta enano");
---

<Layout title="Sistema solar">
    <section class="relative">
        <h1 class="absolute top-8 text-3xl md:text-4xl font-bold text-center w-full z-1">El Sistema Solar</h1>
        <video autoplay loop muted playsinline class="w-screen h-dvh object-cover z-0">
            <source src="solar-system/videos/sistema-solar.mp4" type="video/mp4">
        </video>
        <div class="absolute bottom-8 w-full flex flex-col items-center text-center z-1">
            <h2 class="text-lg font-bold px-4 py-2">¡Baja o utiliza la barra lateral para empezar tu viaje por los diferentes astros del Sistema solar!</h2>
            <a href="#astros">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down text-white hover:cursor-pointer"><path d="m6 9 6 6 6-6"/></svg>
            </a>
        </div>
    </section>
    <section id="astros">
    {
        bodiesSorted.map((celestialBody) => {
            const { slug, data } = celestialBody;
            const planetMoons = celestialBodies.filter((celestialBody) => celestialBody.data.type === "satélite" && celestialBody.data.parent_planet === slug); //Comprobamos que el planeta al que hace relación coincide con el nombre del planeta (slug) de la iteración actual.
            return (
                <CelestialBodyCard celestialBody={celestialBody} moons={planetMoons}/>
            )
        })
    }
    </section>
    <nav class="fixed inactive top-0 flex flex-col justify-center w-14 h-dvh bg-transparent z-5" id="sidebar-planets">
        <button class="md:hidden absolute right-full top-1/2 -translate-y-1/2 bg-black pl-2 py-6 rounded-l-xl hover:cursor-pointer" id="btn-sidebar"></button>
        <SidebarContent celestialBodies={bodiesInSidebar} id="planet-links">
            <li>
                <ImageNavLink link={"#pluton"} urlImage={"planetas-enanos.webp"} bodyName={"planetas enanos"}/>
                <SidebarContent celestialBodies={dwarfPlanets} id="dwarf-planet-links" />
            </li>
        </SidebarContent>
    </nav>
</Layout>

<script>
    const btnSidebar = document.getElementById('btn-sidebar') as HTMLButtonElement;
    const sidebarPlanets = document.getElementById('sidebar-planets') as HTMLElement;
    const dwarfPlanetsLink = document.querySelector("#planet-links")?.lastElementChild?.firstElementChild as HTMLUListElement;
    const iconBtnSidebar: string = `<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-panel-right-open-icon lucide-panel-right-open"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M15 3v18"/><path d="m10 15-3-3 3-3"/></svg>`;
    const isMobile: boolean = window.innerWidth < 768;
    let sidebarStatus: boolean = false;
    
    btnSidebar.innerHTML = iconBtnSidebar;

    btnSidebar.addEventListener('click', function() {
        if (sidebarStatus) { // Si la barra lateral está desplegada
            sidebarPlanets.classList.remove('active');
            sidebarPlanets.classList.add('inactive');
            btnSidebar.innerHTML = iconBtnSidebar;
        }
        else {
            sidebarPlanets.classList.remove('inactive');
            sidebarPlanets.classList.add('active');
            btnSidebar.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-panel-right-close-icon lucide-panel-right-close"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M15 3v18"/><path d="m8 9 3 3-3 3"/></svg>`;
        }
        sidebarStatus = !sidebarStatus;
    });

    dwarfPlanetsLink.addEventListener('click', function(event) {
        if (isMobile) {
            event.preventDefault(); // Evitar redirigir a Plutón, para así poder abrir el listado de planetas enanos.
        }
    });
    
</script>