---
import Layout from "../layouts/Layout.astro";
import '../styles/solar-system.css';
import { getCollection } from "astro:content";
import CelestialBodyCard from "../components/solar-system/CelestialBodyCard.astro";

const celestialBodies = await getCollection("celestial-bodies");

const bodiesWithoutMoons = celestialBodies.filter((celestialBody) => celestialBody.data.type !== "satélite");
const bodiesSorted = bodiesWithoutMoons.sort((a, b) => a.data.order - b.data.order); //Orden ascendente
---

<Layout>
    <h1>Sistema Solar</h1>
    {
        bodiesSorted.map((celestialBody) => {
            const { slug, data } = celestialBody;
            const planetMoons = celestialBodies.filter((celestialBody) => celestialBody.data.type === "satélite" && celestialBody.data.parent_planet === slug); //Comprobamos que el planeta al que hace relación coincide con el nombre del planeta (slug) de la iteración actual.
            return (
                <CelestialBodyCard celestialBody={celestialBody} moons={planetMoons}/>
            )
        })
    }
</Layout>