---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import getSortedEvents from "../../scripts/events/getSortedEvents";
import EventTypeCard from "../../components/events/EventTypeCard.astro";
import EventCard from "../../components/events/EventCard.astro";

const eventTypes = await getCollection("event-types");
const events = await getCollection("events");
const sortedEvents = getSortedEvents(events);
---

<Layout title="Eventos astronómicos">
    <h1 class="main-heading">Eventos astronómicos</h1>
    <section class="flex flex-col items-center gap-4 px-4 md:px-8 pb-6">
        <h2 class="section-title">Tipos de eventos astronómicos</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {
                eventTypes.map((eventType) => {
                    return (
                        <EventTypeCard eventType={eventType}/>
                    )
                })
            }
        </div>
    </section>
    <section class="flex flex-col items-center gap-4 px-4 md:px-8 pt-12 pb-6">
        <h2 class="section-title">Próximos eventos astronómicos</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {
                sortedEvents.map((event) => {
                    return (
                        <EventCard event={event} showTypeLabel hasBackground/>
                    )
                })
            }
        </div>
    </section>
</Layout>