---
import '../styles/global.css';
import Header from '../components/header/Header.astro';

type Props = {
	title: string,
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main class="flex flex-col items-center">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		font-family: "Inter", sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #060B10;
		color: white;
	}

	html {
		scroll-behavior: smooth;
	}
</style>
