---
import Layout from "../../../layouts/Layout.astro";
import GalaxyCard from "../../../components/galaxies/GalaxyCard.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const galaxyTypes = await getCollection("galaxy-types");

    return galaxyTypes.map((type) => ({
        params: { type: type.slug },
        props: { type }
    }));
};

const { type } = Astro.props;
const { data, slug } = type;
const { name, description } = data;

const galaxies = await getCollection("galaxies", ({ data }) => data.type.id === slug);
---

<Layout title={`Galaxias - ${name}`}>
    <h1 class="main-heading">Galaxias {name}</h1>
    <p class="max-w-5xl text-center px-4">{description}</p>
    <section class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 px-4 md:px-12 py-6">
        {
            galaxies.map((galaxy) => {
                return (
                    <GalaxyCard galaxy={galaxy}/>
                )
            })
        }
    </section>
</Layout>