---
import Layout from "../../layouts/Layout.astro";
import '../../styles/admin/auth.css';
import MailIcon from "../../assets/icons/mail.svg";
import PasswordIcon from "../../assets/icons/password.svg";
---

<Layout title="Iniciar sesión">
    <section id="form-section">
        <h1 id="form-title">Iniciar sesión</h1>
        <form action="" method="POST" class="form" id="loginForm">
            <div class="form-field-row">
                <MailIcon/>
                <input type="email" name="email" id="email" placeholder="Email..." required>
            </div>
            <div class="form-field-row">
                <PasswordIcon />
                <input type="password" name="password" id="password" placeholder="Contraseña..." required>
            </div>
            <div class="submit-message">
                <span id="error-message"></span>
                <button type="submit" id="submit">Iniciar sesión</button>
            </div>
        </form>
    </section>
</Layout>

<script>
    import { login } from "../../api/UsersRequests";

    const form = document.querySelector("#loginForm") as HTMLFormElement;

    form?.addEventListener('submit', async function(event: Event) {
        event.preventDefault();
        
        const email = document.querySelector("#email") as HTMLInputElement;
        const password = document.querySelector("#password") as HTMLInputElement;
        const messageElement = document.querySelector('#error-message') as HTMLSpanElement;

        const response = await login({email: email.value, password: password.value});

        if (response.ok) {
            window.location.href = '/admin/news';
        }
        else {
            messageElement.classList.add('error-message');
            messageElement.innerHTML = response.message;
        }
    });
</script>