@import "tailwindcss";

figcaption {
    @apply text-sm italic py-1;
}

.article-data > div > dt {
    @apply uppercase font-bold;
}

.article-description {
    @apply leading-relaxed text-slate-200;
}