@import "tailwindcss";

#form-title {
    @apply text-xl p-2;
}

.form {
    @apply flex flex-col bg-white text-black p-4 rounded-md w-1/2;
}

.form-field {
    @apply flex flex-col gap-2 p-2;
}

input, textarea {
    @apply border-2 border-black p-2;
}

.checkbox {
    @apply hover:cursor-pointer;
}

#submit {
    @apply w-1/2 hover:cursor-pointer;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

