@import "tailwindcss";

.content {
    width: 50%;
    @apply leading-relaxed;
}

.content p {
    margin: 1em;
}

.content strong {
    font-size: 18px;
}

.content li {
    list-style: disc;
    margin-left: 2em;
}

.images-properties {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.images figure > img {
    width: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.images figure > figcaption {
    text-align: center;
    font-style: italic;
}

.properties {
    width: 75%;
    text-align: center;
    padding: 7px;
    margin-top: 8px;
}

.properties dt {
    font-weight: bold;
    border-top: 1.5px solid black;
    border-radius: 8px 8px 0 0;
}

.properties dd {
    border-bottom: 1.5px solid black;
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
    background-color: rgb(145, 145, 145);
}

.properties dt, .properties dd {
    padding: 6px;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
}

.sublist > dt, .sublist > dd {
    border-left: 0;
    border-right: 0;
}

.sublist > dd {
    border-bottom: 0;
}

.sublist > dt {
    border-top: 0;
}