@import "tailwindcss";

.content {
    @apply leading-relaxed w-full md:w-1/2 mb-4;
}

.content p {
    @apply m-2 md:m-3;
}

.content strong {
    font-size: 18px;
}

.content li {
    list-style: disc;
    margin-left: 2em;
}

.images-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply md:w-1/2;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.images figure > img {
    width: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.images figure > figcaption {
    max-width: 400px;
    text-align: center;
    font-style: italic;
    @apply pt-2 md:pt-1;
}

.credits {
    @apply text-sm text-neutral-200 m-1;
}

.properties {
    width: 100%;
    @apply md:w-[70%] sm:w-3/5;
    text-align: center;
    padding: 7px;
    margin-top: 8px;
}

.properties dt {
    font-weight: bold;
    border-top: 1.5px solid black;
    border-radius: 8px 8px 0 0;
    @apply bg-gray-600;
}

.properties dd {
    border-bottom: 1.5px solid black;
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
}

.properties dt, .properties dd {
    padding: 6px;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
}

.sublist > dt, .sublist > dd {
    border-left: 0;
    border-right: 0;
}

.sublist > dd {
    border-bottom: 0;
}

.sublist > dt {
    border-top: 0;
}

details:not([open]) {
    margin-left: 8px;
}

details[open] summary {
    font-weight: bold;
}

details {
    transition: margin-left 0.3s ease;
}

#sidebar-planets {
    @apply md:right-0;
    transition: right 0.4s ease;
}

.inactive {
    @apply -right-14;
}

.active {
    @apply -right-0;
}

#planet-links li {
    @apply px-1.5;
}


#dwarf-planet-links {
    display: none;
    width: 100%;
    position: absolute;
    right: 100%;
    bottom: 0%;
}

#planet-links >:last-child:hover #dwarf-planet-links {
    display: block;
}